<launch>
 <!----> 
    <node 
        pkg="joy"
        exec="joy_node"
        name="joy_node"
        respawn="true">
        <param
            name="dev"
            value="/dev/input/js0"/>
    </node>
    
    <node
        name="main" 
        exec="main" 
        pkg="wall_climber" 
        output="screen"
        launch-prefix="xterm -T 'Sally' -fa 'Monospace' -fs 15 -e"/>
     
    <!-- Launch the Microstrain node so the IMU starts publishing data -->
    <node 
        name="microstrain_inertial_driver" 
        exec="microstrain_inertial_driver_node" 
        pkg="microstrain_inertial_driver"
        output="screen" 
        namespace="/">

        <param from="$(find-pkg-share wall_climber)/config/microstrain_inertial_params.yml"/>
    </node>

    <node
        name="rviz2"
        exec="rviz2"
        pkg="rviz2"
        output="screen">
    </node>

    <arg name="urdfpath" default="$(find-pkg-share sally_description)/urdf/sally.urdf.xacro"/> 

    <node
        pkg="robot_state_publisher"
        exec="robot_state_publisher"
        name="robot_state_publisher"
        output="screen">
        <param name="robot_description" value="$(command 'cat $(var urdfpath)')"/>
    </node>
</launch>
